
.auth-card {
  display: flex;
  flex-direction: column;
  width: 89rem;
  height: 40rem;
  border-radius: 2rem !important;
}
.add-user-grid {
  display: grid;
  grid-template-columns: 12rem 12rem 9rem 10rem 10rem 5rem;
  grid-gap:2rem;
  padding: 0.5rem;
  width: 100%;
  margin-left: 3rem;
}
.grid-row {
  /* Define grid areas for each row */
  display: grid;
  grid-template-columns: 12rem 12rem 9rem 10rem 10rem 5rem; /* Adjust the number of columns to match grid-template-areas */
  grid-gap: 2rem; /* Adjust the gap between items */
  margin-left: 3rem;
  padding: 0.5rem;
}
.header {
  align-self: flex-end;
  margin-right: 4rem;
}
.add-user-container {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}
.title {
  margin-left: 3.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}



.col-names {
  gap: 16.7rem;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

input {
  height: 1.75rem;
  border-radius: 0.5rem;
  border: 0.07rem #DEDEDE solid;
  color: #707070;
  font-weight: 300;
  font-size: 0.75rem;
  text-indent: 0.5rem;
  outline: none;
}

#add-btn, #delete-btn {
  cursor: pointer;
}
#add-btn {
  height: 60%;
  margin-left: 4rem;
  margin-top: 1rem;
}

.btn-container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.white-btn, .blue-btn {
  width: 6rem;
  margin-top: 0;
}
.white-btn {
  margin-left: 3.5rem;
}


