
.main-auth-container {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
  }
  
  .auth-card {
    width: 28.25rem;
    height: 38rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem !important;
    margin: 0 5rem;
  }
  
  
  .auth-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  #welcome-text {
  font-weight: 100;
  font-size: 1.5rem;
  }
  
  #signin-text {
    font-weight: 400;
    font-size: 1rem;
  }
  /* .auth-form-container {
    width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  } */
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .auth-select-element, .input-container {
    width: 22.33rem;
    height: 3.3rem;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #555555AB;
    font-weight: 400;
    font-size: 1rem;
    outline: none;
  }
  
  .contact-number-container {
    display: flex;
    flex-direction: row;
    width: 22.33rem;
  }
  .phone-select {
    margin-top: 2rem;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #000000;
    outline: none;
  }
  
  .phone-input {
    width: 16.12rem;
    height: 2.12rem;
    margin-top: 2rem;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-bottom: 1px solid #000000;
  }
  
  .input-container::placeholder {
    font-size: 1rem;
    font-weight: lighter;
    color: #000000;
  }
  .btn {
    width: 100%;
  }
  .btn{
    width: 100%;
    height: 2.5rem;
    border-radius: 2rem;
    margin-top: 2rem;
    background-color: #00ADEF;
    border: none;
    color: white;
    cursor: pointer;
  }
  
   .auth-notification p {
    margin-top: 2rem;
    font-weight: 300;
    font-size: 0.875rem;
  }
  .auth-notification p a {
    color: #0873BB;
    cursor: pointer;
  }
  
  .forget-password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }
  
  .forget-password a {
    color: #00ADEF;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
  }
  
  
  